<!-- <div class="join-create-menu">
	<ul>
		<li><a href="#/join"> Join Game </a></li>
		<li><a href="#/create"> Create Game </a></li>
	</ul>
</div> -->
<div class='login-register-wrapper'>
	<div class='login-register-menu'>
		<ul>
			<li ng-click="joinToggle()"> Join Game </li>
			<li ng-click="createToggle()"> Create Game </li>
		</ul>
	</div>
</div>
<div class='forms-container'>
	<div class="login-register-form" ng-show="create">
		<form role="form" name="createForm" ng-submit="createGroup()">
			<div class="form-group">
				<label> New Group Name </label>
				<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter new group name" ng-model="group.name" required>
				<p class="error" ng-if="createForm.inputName.$error.required && createForm.inputName.$dirty">
					Group name is required.
				</p>
			</div>
<!-- 			<div class="form-group">
				<label> Group Password </label>
				<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Enter group password" ng-model="group.password" required ng-minlength=5 ng-maxlength=15>
				<p class="error" ng-if="createForm.inputPassword.$error.required && createForm.inputPassword.$dirty">
					Password is required.
				</p>
				<p class="help-block" ng-if="createForm.inputPassword.$invalid && createForm.inputPassword.$dirty">
					Password must be between five and fifteen characters long.
				</p>
			</div> -->
<!-- 			<div class="form-group">
				<label> Confirm Password </label>
				<input type="password" class="form-control" id="inputPassword" placeholder="Confirm group password" ng-model="group.confirm" required ng-minlength=5 ng-maxlength=15>
			</div> -->
			<div class='form-group'>
<!-- 				<label> Hat Password </label>
				<input type="password" class="form-control" id="inputHatPassword" name="inputHatPassword" placeholder="Enter hat password" ng-model="group.hatPassword" required ng-minlength=5 ng-maxlength=15>
				<p class="error" ng-if="createForm.inputHatPassword.$error.required && createForm.inputHatPassword.$dirty">
					Password is required.
				</p>
				<p class="help-block" ng-if="createForm.inputHatPassword.$invalid && createForm.inputHatPassword.$dirty">
					Password must be between five and fifteen characters long.
				</p> -->
				<button type="submit" class="btn btn-default" ng-disabled="createForm.$invalid"> Submit </button>
			</div>
<!-- 			<div class="form-group">
				<label> Confirm Hat Password </label>
				<input type="password" class="form-control" id="inputHatPassword" placeholder="Confirm hat password" ng-model="group.hatConfirm" required ng-minlength=5 ng-maxlength=15>
			</div> -->
		</form>
	</div>
	<div class="login-register-form" ng-show="join">
		<form role="form" name="joinForm">
			<div class="form-group">
				<!-- Add filter to show existing groups -->
				<label> Group Name </label>
				<input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter group name" ng-model="group.name" required>
				<p class="error" ng-if="joinForm.inputName.$error.required && joinForm.inputName.$dirty">
					Group name is required.
				</p>
			</div>
			<div class="form-group">
<!-- 				<label> Password </label>
				<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Enter group password" ng-model="group.password" required>
				<input type="password" class="form-control" id="inputHatPassword" name="inputHatPassword" placeholder="Enter hat password if logging in as the hat" ng-model="group.hatPassword">
				<p class="error" ng-if="joinForm.inputPassword.$error.required && joinForm.inputPassword.$dirty">
					Group password is required
				</p> -->
				<button type="submit" class="btn btn-default" ng-disabled="joinForm.$invalid"> Submit </button>
			</div>
		</form>
	</div>
</div>

<!-- Add confirm directives later -->